h1 {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;
}

h2 {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #2e4963;
  font-size: 1.5rem;
}

body {
  margin: 0 auto;
  text-align: center;
}
